<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header text-center">
                <h1>
                    印尼骰王
                </h1>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">

            <h2>
                上期结果：大
            </h2>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6 column">
            <button type="button" class="btn btn-default">倒计时</button>
        </div>
        <div class="col-md-6 column">
            <button type="button" class="btn btn-default">掷骰子</button>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h2>
                Heading
            </h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <button type="button" class="btn btn-default btn-warning btn-block">点击开奖</button>
            <table class="table">
                <thead>
                <tr>
                    <th>
                        期号
                    </th>
                    <th>
                        时间
                    </th>
                    <th>
                        结果
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01/04/2012
                    </td>
                    <td>
                        大
                    </td>
                </tr>
                <tr class="success">
                    <td>
                        2
                    </td>
                    <td>
                        01/04/2012
                    </td>
                    <td>
                        小
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>